<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdd1_oGQ6sSVsRonqwRIvsg7OJfyINcr8</string>
	<key>GCM_SENDER_ID</key>
	<string>935711035370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevITIS.1k-mile.Bookshelf</string>
	<key>PROJECT_ID</key>
	<string>kniggabase</string>
	<key>STORAGE_BUCKET</key>
	<string>kniggabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935711035370:ios:0d4756407de9f8e8e86c93</string>
</dict>
</plist>